{% extends "base.html" %}
{% block title %}
  About
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        About the Project
      </div>
      <div class="card-body">
        <p>
          Blogicum is a home for creative people. It is a community for people
          who see no boundary between blogging and friendship on social media.
        </p>
        <p>
          Friendship and stories about new, unexplored experiences are what
          you will find on our platform. Millions of blogs on different topics:
          travel, politics, entertainment, fashion, literature, design, and
          every other sphere of human activity.
        </p>
        <p>
          Creativity, diversity, and freedom of opinion and self-expression are
          the defining traits of our users.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
