{% extends "base.html" %}
{% block title %}
  Our Rules
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Site Rules
      </div>
      <div class="card-body">
        <p>
          <b>Self-expression.</b> Our users should have the opportunity
          to create something of their own and express their thoughts
          and feelings.
        </p>
        <p>
          <b>Diversity.</b> We respect and welcome different opinions
          and cultures. Blogicum is a place that brings together
          many different people. Share your unique view of the world.
        </p>
        <p>
          <b>Creativity.</b> It does not matter which field you create in:
          literature, design, programming, or anything else.
          Our tools will help you unlock your talent as simply
          and comfortably as possible.
        </p>
        <p>
          <b>Privacy.</b> We will keep your personal thoughts private.
          Share your information only with the people you choose.
          You decide how much of your personal information stays private.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
